services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo-data:/data/db
    ports:
      - '27017:27017'

  rabbitmq:
    image: rabbitmq:3.11-management
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - '5672:5672'
      - '15672:15672'
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      retries: 5

  python-collector:
    build:
      context: ./python
      dockerfile: Dockerfile
    env_file: .env
    restart: unless-stopped
    depends_on:
      - rabbitmq
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '3'

  go-worker:
    build:
      context: ./go
      dockerfile: Dockerfile
    env_file: .env
    restart: unless-stopped
    depends_on:
      - rabbitmq
      - nestjs-api
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '3'

  nestjs-api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - '3000:3000'
    restart: unless-stopped
    depends_on:
      - mongo
      - rabbitmq
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '3'

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - '5173:80'
    restart: unless-stopped
    depends_on:
      - nestjs-api

volumes:
  mongo-data: